<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Data App</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <nav><a href="/">GO BACK TO HOME</a></nav>

    <div class="flexit">
       <% listOfUsers.forEach(function(user){ %>
        <div class="users">
            <div class="user">
              <img style="width: 200px;height: 175px; object-fit:inherit;  border: none;border-radius: 7px;" src="<%= user.image %>" >
            </div>
            <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:small; margin-bottom: 2px;"><%= user.name %></h3>
            <h5 style="margin-bottom: 2px; margin-top: 3px; color: rgb(46, 46, 46);"><%= user.email %></h5>
            <div class="flexbtns" style="display: flex; padding-top: 6px;">
                <a href="" style="padding-right: 18px; padding-left: 3px; text-decoration: none; color: rgba(0, 0, 255, 0.628); font-family: monospace; font-size:large;">EditUser </a>
                <a href="/delete/<%= user._id %>" style="text-decoration: none; color: rgb(232, 21, 21); font-family: monospace;  font-size:large;"> DeleteUser</a>
            </div>
        </div>
        
     <%  }) %>
    </div>





</body>

</html>